.carousel-itens {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  max-width: 100%;
}
.carousel-itens img {
  width: 30%;
  object-fit: contain;
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
