.carousel-itens {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  max-width: 100%;
}

.carousel-itens img {
  width: 40%;
  object-fit: contain;
  cursor: pointer;

  @media screen and (max-width: 900px) {
    width: 60%;
  }

  @media screen and (max-width: 740px) {
    width: 100%;
  }
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
