.carousel-itens {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  max-width: 100%;
}
.carousel-itens img {
  width: 40%;
  object-fit: contain;
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.carousel-itens img::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #ffffff;
  transition: 0.5s ease;
}

.carousel-itens img:hover {
  color: #eff1f0;
  transition-delay: 0.5s;
}

.carousel-itens img:hover::before {
  width: 100%;
}

.carousel-itens img::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background-color: #eff1f0;
  transition: 0.4s ease;
  z-index: -1;
}

.carousel-itens img:hover::after {
  height: 100%;
  transition-delay: 0.4s;
  color: aliceblue;
}
