.banner-content {
  top: 0;
  display: flex;
  left: 0;
  font-family: Raleway, sans-serif !important;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: #3b3b3b;
  display: flex;
  text-align: end;
  align-items: center;
  margin-top: 0 !important;
  margin-bottom: 0 !important;

  @media screen and (max-width: 900px) {
    color: #909090;
    margin-left: 80px;
  }
}

.banner h2 {
  font-size: 40px;
  @media screen and (max-width: 900px) {
  }
}

.banner h3 {
  margin: 0;
  opacity: 0.7;
}

.banner h2,
.footer h2 {
  margin: 20px 0;
}

.profile {
  font-size: 80px;
  margin-top: 15px;
  font-weight: bold;

  @media screen and (max-width: 900px) {
    font-size: 50px;
  }
}
.profile2 {
  font-size: 18px;
  margin-top: 15px;
  font-weight: bold;
}

.txt-rotate {
  display: flex;
  margin-left: 10px;
  width: 100%;
  font-size: 1.3em;
  color: #909090;
}
