@font-face {
  font-family: Joker One;
  src: url("./assets/Fonts/JockeyOne-Regular.ttf");
}

@font-face {
  font-family: "Raleway";
  src: url("./assets/Fonts/Raleway/Raleway-VariableFont_wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/Fonts/Montserrat/Montserrat-VariableFont_wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "Montserrat italic";
  src: url("./assets/Fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf")
    format("truetype");
}
